@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="text"],
  input[type="date"],
  input[type="password"],
  select,
  select[multiple],
  textarea {
    @apply rounded-md bg-white border border-gray-300 placeholder-slate-400 shadow-sm focus:outline-none focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50;
  }

  input.invalid,
  select.invalid,
  textarea.invalid {
    @apply !ring-pink-200 !border-pink-600 text-pink-600;
  }
}

@layer components {
  .modal-span-label {
    @apply text-gray-600 text-xs font-semibold mb-1 block;
  }

  .modal-input-style {
    @apply text-sm leading-5 px-3 py-2 w-full;
  }
}

.animate-message-flyin {
  animation: message-flyin 0.3s;
  animation-fill-mode: forwards;
}

@keyframes message-flyin {
  from {
    transform: translateY(-50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
    animation-timing-function: ease-in;
  }
}

.animate-message-flyout {
  animation: 0.2s message-flyout;
  animation-fill-mode: forwards;
}

@keyframes message-flyout {
  from {
    opacity: 100%;
    animation-timing-function: ease-in;
  }

  to {
    transform: translateY(-50%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}

.animate-hint-flyin {
  animation: hint-flyin 0.2s;
  animation-fill-mode: forwards;
}

@keyframes hint-flyin {
  from {
    transform: translateY(20%);
    opacity: 0;
    animation-timing-function: ease-out;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
    animation-timing-function: ease-in;
  }
}

.animate-hint-flyout {
  animation: 0.2s hint-flyout;
  animation-fill-mode: forwards;
}

@keyframes hint-flyout {
  from {
    opacity: 100%;
    animation-timing-function: ease-in;
  }

  to {
    transform: translateY(20%);
    opacity: 0;
    animation-timing-function: ease-out;
  }
}
